doctype html
html
  head
    title= typeof(title) !== 'undefined' ? title : "glass-nodejs-simple-webapp"
  body
    h1 glass-nodejs-simple-webapp
    #main
      - if (!everyauth.loggedIn)
        h2 Not Authenticated
        #google-login
          a(href='/auth/google') Login using Google
          br
          a(href='/auth/google', style='border: 0px')
            img(style='border: 0px', src='https://www.google.com/favicon.ico')
      block content
